.DashOverview-title {
  width: 20px; /* tiny width size to make the 2nd word go to new line */
  font-size: 4rem;
}

.DashOverview-new-task-btn {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0.5rem 0.6rem;
  background-color: rgb(180, 148, 255);
  border-color: rgb(180, 148, 255);
}