.ProfileHeader {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

.ProfileHeader-img-wrapper {
  margin: auto;
  width: 8rem;
  height: 8rem;
  border-radius:50%;
  overflow:hidden;
}

.ProfileHeader-img {
  object-fit: cover;
  width:100%;
  height:100%;
}

.ProfileHeader-img-wrapper .ProfileHeader-img {
  transition: all .2s ease;
  vertical-align: middle;
}

.ProfileHeader-details {
  font-weight: 200;
}

.ProfileHeader-name {
  font-size: 2rem;
}

.ProfileHeader-fam-tag {
  color: rgb(82, 128, 255);
}