.LoginForm {
  text-align: left;
  padding: 0 5rem;
  min-width: 30rem;
  margin: auto;
}


.LoginForm label {
  font-size: 1.6rem; 
}

.LoginForm button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
}

.modal-content {
  padding: 2rem;
}

.sample {
  align-self: flex-start;
}